// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$sky-blue: #86c8f5;
$dark-blue: #1a5e8b;
$white: #ffffff;

* {
    box-sizing:border-box;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.clean-a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: #3395d7;
    box-shadow: -0.3px 8px 10.2px .3px rgba(2,3,3,.5);

    .logo-wrapper{
        width: 34%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .logo {
            content: url('../img/logo.png');
            width: 150px;
            height: 60px;
            margin-right: 48px;
            margin-bottom: 29px;
        }
    }

    .header-actions {
        display: flex;
        width: 60%;
    }

    .user-menu-wrapper {
        display: flex;
        justify-content: FLEX-START;
        align-items: flex-start;
        position: absolute;
        left: 42%;

        .triangle-left {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 17px 35px 0;
            border-color: transparent $sky-blue transparent transparent;
        }

        .triangle-right {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 17px 0 0;
            border-color: #86c8f5 transparent transparent;
        }

        .user-menu {
            list-style-type: none;
            height: 35px;
            background-color: #1a5e8b;
            margin: 0;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;

            li {
                padding: 6px;
                height: 35px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
                    font-weight: 100;
                    font-size: 13px;
                    width: 70px;
                    height: 100%;
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;
                }

                &:not(:last-child){
                    border-right: 1px solid #86c8f5;

                }
            }
        }

        .star-icon {
            content:url('../img/star.png');
            width: 22px;
        }

        .star-text {
            position: absolute;
            top: 8px;
            left: 30px;
        }
    }

    .nav-wrapper {
        display: flex;
        align-self: flex-end;
        justify-content: flex-start;
        margin-bottom: 16px;
        position: relative;
        left: -74px;

        a {
            padding: 6px;
            text-decoration: none;
            color: $white;
            display: inline-block;
            height: 100%;
        }
    }

    .headphones {
        content: url('../img/headphones.png');
        -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 6px rgba(0, 0, 0, 30));
        filter: brightness(0) invert(1) drop-shadow(0 0 6px rgba(0, 0, 0, 30));
        width: 35px;
        height: 38px;
        position: relative;
        top: 12px;
        right: 96px;
    }
}


.main-wrapper {
    .background{
        background: url(../img/main-background.png) bottom center;
        background-position: 0px -131px;
        background-repeat: no-repeat;
        opacity: .6;
        width: 113%;
        height: 432px;
        background-size: 90%;

        .main-img-wrapper {
            width: 54.3%;
            height: 105%;
            background-color: #fff;
            box-shadow: -.7px 7.5px 12px 0 rgba(2,3,3,.39);
            position: relative;
            left: 18%;
            overflow: hidden;

            .main-img {
                content: url('../img/main-img.png');
                width: 115%;
            }
        }
    }
}
